
.equipo{

  background: url('../images/fondos/fondo_netllar.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}
.equipo .container{
    border: 1px solid #7b7b7b;
    border-radius: 4px;
    padding: 25px;
    background-color: #ffffffd4;
    /*padding-top: 25px;
    padding-bottom: 25px;  */ 
    border: silver 21px solid;
    border-image-source: url('../images/marcos/Marco_1.png');
    border-image-slice: 21 fill;
    background-clip: padding-box;
}

.logo-equipo{
	max-height: 250px;
}

.header-jugadores{
	border-bottom: solid 4px;
}

.header-jugador{
	height: 150px;
	margin: 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jugador{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #00000063;
	margin: 20px;
	padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #000;
  color: #fff;
  text-align: center;
}
.jugador h3{
  display: block;
}

.header-jugador, .body-jugador, .footer-jugador{
  padding-top: 5px;
  padding-bottom: 5px;
}
.body-jugador{
  background-color: #00000070;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.caret {
  border-left: solid 70px transparent; 
  border-right: solid 70px transparent; 
  border-bottom: solid 70px #fff;
  filter: drop-shadow(0 0 30px #333);
  height: 0; 
  width: 0; 
}

