 html, body {
  height: 100%;
}
 body{
    background-color: black;
 }
 header{
    
    font-weight: bold;
}
section{
    min-height: 100%;
    //height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}
/*@font-face {
  font-family: 'Furore';
  src: url('../fonts/Viga-Regular.ttf');
}
*{
    font-family: Furrore;
}*/
#navHeader{
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    color: wait;
}

.navbar .nav-item{
    margin-left: 50px;
    margin-right: 50px;
    color:orange;
}
.galeria .container, .videos .container, .body-liga{
    border: 1px solid #7b7b7b;
    border-radius: 4px;
    padding: 25px;
    background-color: #ffffffd4;
    /*padding-top: 25px;
    padding-bottom: 25px;  */ 
    border: silver 21px solid;
    border-image-source: url('../images/marcos/Marco_1.png');
    border-image-slice: 21 fill;
    background-clip: padding-box;
}

.header-liga, .equipos{
    padding-top: 25px;
    padding-bottom: 25px;
}

#navLogo{
    max-height: 70px;
    overflow: visible;
}
.ligas{
   //background: url('../images/Fondo_1.png') no-repeat fixed center;
   background: url('../images/fondos/fondo_netllar.jpg') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.body-liga{
    
}
.header-liga{
    //background-color: lightblue;   
    height: 150px;        
}
.header-liga img{
    height: 250px;
    overflow: visible;
    z-index: 1;
}
.body-liga{
   
    padding-top: 100px;
    background-color: #ffffffd4;
    

    padding: 20px;
    padding-top: 100px;
}

.competicion{
    background: url('../images/ligas/cod_fondo_inicio.jpeg') center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;*/
    
    //background-color: #00000063;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #000;
    color: #fff;
    font-weight: bold;
    /*-webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);*/
}

.competicion h3{
    padding: 5px;
    font-weight: bold;
    font-size: 40px;
}

.header-competicion{
    height: 200px;
}
.header-competicion img{
    max-width: 100%;
}
.body-competicion{
    background-color: #00000070;
}
.body-competicion ,.footer-competicion ,.header-competicion{
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.incono_h3{
    max-height: 50px;
}
.small_incono_h3{
    max-height: 40px;
}
.footer-competicion{
    border-top: 1px solid;


    
}
.competicion .container-fluid{
    padding: 25px;
}

.galeria{
    background: url('../images/Fondo_2.png') no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


.header-galeria, .body-galeria, .header-videos, .body-videos{
    padding-top: 25px;
    padding-bottom: 25px;   
}

.body-liga{
    padding-top: 100px;
}

/*.videos .container{
    border: 1px solid #7b7b7b;
    border-radius: 4px;
    background-color: #ffffffd4;
    padding-top: 25px;
    padding-bottom: 25px;   
}*/



.contenedor-blanco{
    //background-color: white;
}/*
.jornada, .partidas, .resultados, .lista-resultados{
    padding-top: 25px;
    padding-bottom: 25px;
}
.equipos{
    padding-top: 75px;
    
}
.equipo img{
    max-height: 100px;
    width: auto;
    border-bottom: solid;
    border-color: lightgrey;
    border-width: 1px;
}
 
.partida img, .resultado img{
    max-height: 70px;
    max-width: 100%;
    display: inline;
}
.partida{
    background-image: url("../images/fondo_partida.gif");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.partida h5{
    text-align: center;
    display: inline;
}*/
.contacto ul{
    list-style: none;
}
.contacto .rss a{
    display: block;
}
.contacto img{
    height: 50px;
}

footer{
    background-color: #ffffffd4;
    padding-top: 50px;
    padding-bottom: 25px;
}
footer h4{
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgrey;

}
footer ul{
    padding: 0;
}